doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Home
    link(rel='stylesheet', type='text/css', href='css/home.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0')

  body
    aside.sidebar
      header.sidebar-header
        img.logo-img(src='over 18_.jpg', alt='Ricardo')
      nav
        button#inicio
          span
            i.material-symbols-outlined home
            span Home
        button#assinatura
          span
            i.material-symbols-outlined money
            span Assinatura
        button#livros
          span
            i.material-symbols-outlined book
            span Livros
        button#LerLivros
          span
            i.material-symbols-outlined book
            span Ler Livros

    main.main
      div.imagem
      h1 Bem vindos a biblioteca
      hr


